@import 'variables';
@import 'mixins';

header {
  width:100%;
  height:40px;
  background:white;
  position:fixed;
  z-index:10000;
  box-shadow:0 2px 4px 0 rgba(136, 136, 136, 0.6);
  top:0;

  .logo {
    display:inline-block;
    background-image:url(#{$projectroot}/img/forever-logo.jpg);
    width:190px;
    height:31px;
  }
}
.wrapper {
  width:100%;
  margin:0 auto;
  max-width:1260px;
  min-width:320px;
}
.inner {
  padding:0 30px;

  @media(max-width:729px){
    padding:0 20px;
  }
}
.btn {
  height: 42px;
  padding: 10px 12px;
  line-height: 1.3;
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  font-size: 16px;
  cursor:pointer;
  @include transition(all, 0.2s, ease-out);
}
.headline {
  display:block;
  font-size:24px;
  line-height:40px;
  padding-bottom:20px;
  border-bottom:1px solid $color_gray-300;
  margin:40px 0;
  font-weight:bold;
  color:$color_gray-600;
  position:relative;
  overflow:hidden;

  .countcontrol {
    position:absolute;
    line-height:40px;
    right:-400px;
    top:0;
    @include transition(all, 0.2s, ease-out);
    transition-delay:0.2s;

    &_count{
      display:inline-block;
      font-size:16px;
      margin-right:10px;
    }

    &_controls{
      display:inline-block;
      .btn:first-of-type{
        margin-right:10px;
      }
    }

    @media(max-width:729px){
      display:block;
      position:relative;
      margin-bottom:15px;
      right:0;
    }
  }
}
.grid {
  display:flex;
  flex-flow:row wrap;
  justify-content:center;
  padding:20px 0;
  border:2px solid transparent;
  @include transition(all, 0.4s, ease-out);

  &_cell {
    position:relative;
    overflow:hidden;
    width:150px;
    height:150px;
    margin:20px;
    border:3px solid transparent;
    color:inherit;
    background:$color_gray-300;
    background-clip:border-box;
    transform:scale(1);
    @include transition(all, 0.2s, ease-out);

    img {
      max-width:100%;
      max-height:100%;
      width:auto;
      height:auto;
      left:0;
      right:0;
      top:0;
      bottom:0;
      position:absolute;
      margin:auto;
    }

    .cell_title {
      opacity:.9;
      width:100%;
      height:30px;
      background:$color_gray-200;
      font-size:12px;
      padding-left:10px;
      position:absolute;
      bottom:-30px;
      z-index:10;
      line-height:30px;
      @include transition(all, 0.2s, ease-out);

      @media(max-width:729px){
        height:25px;
        line-height:25px;
        font-size:11px;
      }
    }

    .cell_select {
      opacity:.9;
      display:inline-block;
      font-size:18px;
      text-align:right;
      width:40px;
      height:40px;
      border-bottom-left-radius:100%;
      background:$color_gray-200;
      position:absolute;
      top:-40px;
      right:-40px;
      z-index:10;
      @include transition(all, 0.2s, ease-out);
      transition-delay:0.075s;

      .selectable {
        color:$color_gray-500;
        margin:7px 7px 0 0;

        @media(max-width:729px){
          margin:2px 2px 0 0;
        }
      }

      @media(max-width:729px){
        width:25px;
        height:25px;
        font-size:15px;
      }
    }

    @media(max-width:729px){
      width:100px;
      height:100px;
      margin:10px;
    }
  }
}
