.btn-primary{
  color: #fff;
  background-color: $color_primary;
  border: 2px solid $color_primary;
}
.btn-danger{
  color: #fff;
  background-color: $color_danger;
  border: 2px solid $color_danger;
}
